* {
 margin: 0;
 box-sizing: border-box;
}

body {
 font-family: "Roboto", sans-serif;
 font-size: 10px;
}

#widgets {
 background-color: #141414;
 padding: 50px 0;
}

#widgets h4 {
 text-align: center;
 font-size: 23px;
 font-weight: 400;
 margin-bottom: 15px;
 color: #d4a465;
}

#widgets p {
 text-align: center;
 font-size: 18px;
 font-weight: 300;
 color: #fff;
}

#payments {
 background-color: #141414;
 text-align: center;
 padding: 20px 0 50px;
}

#footer {
 background-color: #141414;
 padding: 20px 0 50px;
}

#footer p {
 text-align: center;
 font-size: 18px;
 color: #fff;
}

#footer a {
 color: #808080;
}

#footer a:hover {
 opacity: 0.8;
}

@media screen and (min-width: 1360px) {


