a#CybotCookiebotDialogPoweredbyCybot,
div#CybotCookiebotDialogPoweredByText {
  display: none;
}
div#CybotCookiebotDialogBodyBottomWrapper {
  display: none !important;
}
#CybotCookiebotDialogBodyContentTitle:after {
  display: none;
}
