* {
 margin: 0;
 box-sizing: border-box;
}

html {
 font-family: "Poppins", sans-serif;
}

body {
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 10px;
}

.container {
 max-width: 700px;
 width: 100%;
 padding: 0 30px;
}

.container .title {
 font-size: 25px;
 font-weight: 500;
 position: relative;
}

.content form .user-details {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin: 25px 0 12px;
}

form .user-details .input-box {
 margin-bottom: 15px;
 width: calc(100% / 2 - 20px);
}

form .input-box span.details, form .textarea-box span.details {
 display: block;
 font-weight: 500;
 margin-bottom: 5px;
}

.user-details .input-box input {
 height: 45px;
 width: 100%;
 outline: none;
 font-size: 16px;
 border-radius: 5px;
 padding-left: 15px;
 border: 1px solid #ccc;
}

.user-details .input-box input:valid {
 border-color: #008000;
}

form .user-details .textarea-box {
 width: 100%;
}

.user-details .textarea-box textarea {
 height: 135px;
 width: 100%;
 resize: none;
 outline: none;
 font-size: 16px;
 border-radius: 5px;
 padding-left: 15px;
 border: 1px solid #ccc;
}

form .button {
 height: 45px;
 margin: 50px 0 0;
}

form .button input {
 height: 100%;
 width: 100%;
 border-radius: 5px;
 border: none;
 color: #fff;
 font-size: 18px;
 font-weight: 500;
 letter-spacing: 1px;
 cursor: pointer;
 background: linear-gradient(95deg, black, grey);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

input[type=number] {
 -moz-appearance: textfield;
}

@media (max-width: 584px) {

.container {
 max-width: 100%;
}

form .user-details .input-box {
 margin-bottom: 15px;
 width: 100%;
}

form .category {
 width: 100%;
}

.user-details::-webkit-scrollbar {
 width: 5px;
}

}

@media (max-width: 459px) {

.container .content .category {
 flex-direction: column;
}

}
