* {
 margin: 0;
 box-sizing: border-box;
}

html {
 scroll-behavior: smooth;
}

body {
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
}

.de[overlay=blur]~body {
 filter: opacity(50%) !important;
 overflow-x: hidden;
}

.dd[overlay=blur]~body, .dd[overlay=color]~body {
 pointer-events: auto !important;
}

.section {
 padding: 54px 0 35px;
}

.section p {
 line-height: 1.5;
 font-size: 18px;
 font-weight: 300;
 color: #4d4d4d;
}

a {
 text-decoration: none;
 color: #fff;
}

.btn {
 display: inline-block;
 transition: 650ms;
 border-radius: 3px;
}

.btn-info {
 font-size: 12px;
 padding: 10px;
 color: #d4a465;
 border-bottom: 2px solid #d4a465;
 margin: 20px 0 40px 0;
}

.btn-info:hover {
 color: #fff;
 background-color: #d4a465;
}

.custom-font {
 color: #d4a465;
 font-size: 65px;
 font-weight: 300;
 line-height: 1;
}

.custom-font-secondary {
 color: #4d4d4d;
 font-size: 25px;
 font-weight: 300;
 line-height: 1;
 letter-spacing: 3px;
 margin-bottom: 50px;
}

.container {
 width: 90%;
 margin: 0 auto;
 text-align: center;
}

.banner-color {
 color: #fff;
}

.menu {
 padding: 20px 25px;
 position: fixed;
 top: 30px;
 right: 30px;
 background-color: rgba(0, 0, 0, .5);
 z-index: 1000;
 border-radius: 3px;
 cursor: pointer;
}

.menu .bar, .menu .bar::before, .menu .bar::after {
 content: "";
 position: absolute;
 height: 2px;
 width: 40px;
 background-color: #fff;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 margin: auto;
 transition: 650ms;
}

.menu .bar::before {
 top: -20px;
}

.menu .bar::after {
 top: 11px;
}

.active .bar {
 background: transparent;
}

.active .bar::before {
 transform: rotate(45deg);
}

.active .bar::after {
 transform: rotate(-45deg);
}

.active .bar::before, .active .bar::after {
 top: 0;
}

.logo {
 display: none;
}

.nav {
 width: 100%;
 line-height: 60px;
}

.overlay {
 background-color: rgba(0, 0, 0, .95);
 position: fixed;
 right: 0;
 left: 0;
 top: 0;
 bottom: 0;
 z-index: 1;
 transition: opacity 650ms;
 transform: scale(0);
 opacity: 0;
}

.overlay.menu-open {
 transform: scale(1);
 opacity: 1;
}

.nav .overlay ul {
 position: relative;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.nav .overlay ul li a {
 font-size: 20px;
 display: block;
 transition: all 650ms;
}

.nav .overlay ul li a:hover, .nav .overlay ul li a .active:hover {
 color: #d4a465;
 border-bottom-color: #d4a465;
}

.photo-one {
 display: none;
}

.photo-two {
 display: none;
}

.banner-one {
 padding: 375px 0;
 background-image: url("../img/banner.jpg");
 background-position: center;
 text-align: center;
}

.banner-two {
 padding: 250px 0;
 background-image: url("../img/banner2.jpg");
 background-position: center;
 text-align: center;
}

.banner-three {
 padding: 250px 0;
 background-image: url("../img/banner3.jpg");
 background-position: center;
 text-align: center;
}

form input, form textarea {
 width: 100%;
 margin: 10px 0;
 padding: 10px 10px;
 border-radius: 3px;
 font-size: 15px;
 outline: none;
 border: 1px solid #d4a465;
 color: #878787;
}

form textarea {
 height: 200px;
 resize: none;
}

.btn-submit {
 background-color: #d4a465;
 color: #fff;
 cursor: pointer;
}

.btn-submit:hover {
 background-color: #be935a;
}

#widgets {
 background-color: #000;
 padding: 50px 0;
}

#widgets h4 {
 text-align: center;
 font-size: 23px;
 font-weight: 400;
 margin-bottom: 15px;
 color: #d4a465;
}

#widgets p {
 text-align: center;
 font-size: 18px;
 font-weight: 300;
 color: #fff;
}

#payments {
 background-color: #000;
 text-align: center;
 padding: 20px 0 50px;
}

#footer {
 background-color: #000;
 padding: 20px 0 50px;
}

#footer p {
 text-align: center;
 font-size: 18px;
 color: #fff;
}

#footer a {
 color: #808080;
}

#footer a:hover {
 opacity: 0.8;
}

@media screen and (min-width: 1360px) {

.menu {
 display: none;
}

.logo {
 display: block;
 font-size: 20px;
 font-weight: 300;
}

.nav {
 display: flex;
 position: fixed;
 padding: 10px 100px;
 justify-content: space-between;
 background-color: #000;
}

.nav .overlay {
 position: relative;
 transform: none;
 opacity: 1;
}

.nav .overlay ul {
 flex-direction: row;
 list-style: none;
}

.nav .overlay ul li a {
 font-size: 15px;
 letter-spacing: 1px;
 margin-right: -1px;
 padding: 0 20px;
}

.section-one {
 padding: 100px 0;
}

.section-two {
 padding: 100px 0;
}

.section-three {
 padding: 90px 0;
}

.container {
 display: flex;
 align-items: center;
}

.center {
 flex: 1;
}

.add-flex {
 flex: 1;
}

.add-padding-right {
 padding-right: 100px;
}

.photo-one {
 display: block;
 min-height: 400px;
 background-image: url("../img/photo1.jpg");
 background-size: cover;
}

.photo-two {
 display: block;
 min-height: 400px;
 background-image: url("../img/photo2.jpg");
 background-size: cover;
}

.btn-info {
 font-size: 18px;
}

#widgets {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
}

#payments {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 justify-items: center;
 align-items: center;
}

}
