* {
 margin: 0;
 box-sizing: border-box;
}

html {
 scroll-behavior: smooth;
}

body {
 background-color: #f2f2f2;
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
}

.dl[overlay=blur]~body, .dl[overlay=color]~body {
 pointer-events: auto !important;
}

.wrap {
 margin: 0 auto;
 position: relative;
 max-width: 940px;
 padding: 0 20px;
}

.left {
 float: left;
}

.right {
 float: right;
}

h2 {
 font-size: 17px;
 font-weight: 700;
 margin-bottom: 30px;
 border-bottom: 1px solid #e5e5e5;
 padding-bottom: 10px;
}

p {
 line-height: 24px;
 margin-bottom: 15px;
}

#header {
 height: 84px;
 line-height: 84px;
 background-color: #000;
}

#header img {
 position: absolute;
 padding-top: 19px;
}

#header .nav {
 position: absolute;
 right: 0;
}

#header .nav ul {
 list-style-type: none;
}

#header .nav li {
 float: left;
}

#header .nav a {
 color: #a2a2a2;
 text-decoration: none;
 padding: 0 20px;
 transition: all 0.3s ease-in-out;
}

#header .nav a:hover {
 color: #fff;
 text-decoration: none;
}

#header .nav-mobile {
 display: none;
}

#menu {
 width: 0;
}

#menu:checked ~ .menu-button > span {
 transform: rotate(45deg);
}

#menu:checked ~ .menu-button > span::before {
 top: 0;
 transform: rotate(0);
}

#menu:checked ~ .menu-button > span::after {
 top: 0;
 transform: rotate(90deg);
}

#menu:checked ~ .menu-button {
 position: fixed;
}

#menu:checked ~ .menu-box {
 visibility: visible;
 left: 0;
}

.menu-button {
 display: flex;
 position: absolute;
 align-items: center;
 top: 30px;
 right: 20px;
 width: 26px;
 height: 26px;
 cursor: pointer;
 z-index: 2;
}

.menu-button > span, .menu-button > span::before, .menu-button > span::after {
 position: absolute;
 width: 100%;
 height: 2px;
 background-color: #828282;
 transition-duration: .25s;
}

.menu-button > span::before {
 content: '';
 top: -8px;
}

.menu-button > span::after {
 content: '';
 top: 8px;
}

.menu-box {
 position: fixed;
 visibility: hidden;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 padding: 100px 0;
 list-style: none;
 background-color: #000;
 z-index: 1;
}

.menu-item {
 display: block;
 padding: 12px 24px;
 color: #ccc;
 font-size: 20px;
 font-weight: 500;
 text-decoration: none;
}

.menu-item:hover {
 background-color: #1b1b1b;
}

#banner {
 padding: 55px 0 75px;
 background-image: url(../img/banner.jpg);
 background-repeat: no-repeat;
 margin-bottom: 75px;
}

#banner h1 {
 font-size: 45px;
 font-weight: 400;
 color: #fff;
}

#banner p {
 max-width: 80%;
 color: #d3d3d3;
 margin-top: 15px;
 margin-bottom: 50px;
}

#banner .button {
 font-size: 13px;
 font-weight: 300;
 color: #fff;
 text-decoration: none;
 background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
 border: 1px solid #a3a3a3;
 border-radius: 5px;
 padding: 15px 40px;
}

#services {
 overflow: auto;
 margin-bottom: 25px;
}

#services ul {
 list-style-type: circle;
}

#services li {
 width: 45%;
 margin-bottom: 25px;
}

#services li h3 {
 font-size: 22px;
 font-weight: 500;
 color: #424242;
 margin-bottom: 10px;
}

#services li p {
 color: #535353;
}

#services li a {
 color: #363636;
}

#services li a:hover {
 color: #2b2b2b;
}

#reviews ul {
 list-style-type: none;
}

#reviews li {
 background: url(../img/quote.png) no-repeat;
 margin-bottom: 35px;
}

#reviews li p {
 max-width: 90%;
 color: #535353;
 padding-left: 45px;
}

#bar {
 background-color: #fff;
 border-top: 1px solid #e5e5e5;
 padding: 20px 0 5px;
 margin-top: 75px;
}

#bar p {
 color: #2a2a2a;
 text-align: center;
}

#footer {
 padding: 30px 0;
 background-color: #000;
}

#footer p {
 font-size: 14px;
 color: #fff;
}

#footer a {
 color: #a2a2a2;
 text-decoration: none;
 transition: all 0.3s ease-in-out;
}

#footer a:hover {
 color: #cbcbcb;
}

#footer .social {
 padding-top: 5px;
}

#footer .social a {
 display: inline-block;
 width: 29px;
 height: 29px;
}

#footer .social a.english {
 background: url(../img/english.png) no-repeat;
 margin-right: 15px;
}

#footer .social a.italian {
 background: url(../img/italian.png) no-repeat;
 margin-right: 15px;
}

#footer .social a.facebook {
 background: url(../img/facebook.png) no-repeat;
 margin-right: 15px;
}

#footer .social a.instagram {
 background: url(../img/instagram.png) no-repeat;
}

@media (max-width: 980px) {

#services li {
 width: 85%;
}

.left {
 float: none;
}

.right {
 float: none;
}

}

@media (max-width: 750px) { 

.services li, .reviews li {
 width: 100%;
 max-width: 100%;
 float: none;
 margin: 0 0 30px !important;
}

.reviews li {
 max-width: 100%;
}

.reviews li.middle {
 margin: 0;
}

}

@media (max-width: 580px) {

#header a.logo {
 left: 20px;
}

#header .nav {
 display: none;
}

#header .nav-mobile {
 display: block;
}

#banner .inner {
 padding: 30px 0;
}

#banner .inner p {
 padding-right: 0 !important;
}

#banner .inner h1 {
 font-size: 2.6em;
}

}
